<div class="container">
    <ul class="list-group comments">
        {{#each this}}
        <li class="comment list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 meta">{{user.username}}</h5>
            <small class="meta">{{format_date created_at}}</small>
        </div>
        <p class="mb-1 text">{{comment_text}}</p>
        </li>
        {{/each}}
    </ul>
</div>