<div class="container">
    <h5 class="">Comments:</h5>
    <ul class="list-group comments">
        {{#each this}}
        <li class="comment list-group-item list-group-item-action mb-2">
        <div class="d-flex w-100 justify-content-between">
            
            <p class="mb-2 commentText">{{comment_text}}</p>
            <small class="meta userDate">{{format_date created_at}}</small>
        </div>
        <p class="mb-1 meta userComment">Commented by <a href="">{{user.username}}</a></p>
        </li>
        {{/each}}
    </ul>
</div>