{{!-- new post form --}}
<section id="new-post" class="container">
  <h3 class="d-flex justify-content-start p-3">Create New Post</h3>

  <form class="new-post-form container">
        <div class="form-floating mb-1">
          {{!-- new post title input --}}
            <input type="text" id="post-title" name="post-title" placeholder="title" class="form-control form-control-sm"/>                
            <label for="post-title">Title</label>
        </div>
        {{!-- new post textarea for content --}}
        <div class="form-floating mb-1">
          <textarea name="post-content" class="form-control" placeholder="Talk your Tech" id="post-content"></textarea>
          <label for="post-content">Talk your Tech</label>
        </div>
      {{!-- submit new post button --}}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
  </form>
</section>
{{!-- end of new post form --}}

{{!-- posts list --}}
{{#if posts.length}}
<section id="your-posts" class="container mt-3">
  <h3>Your Posts</h3>
  <ul class="list-group">
    {{#each posts as |post|}}
    <li class="list-group-item list-group-item-action mb-2 post-li"> 
      
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link d-flex justify-content-end"><i class="fa-solid fa-pen-to-square fa-xl mb-1"></i></a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
{{!-- end of posts list --}}


<script src="/javascript/new-post.js"></script>