<div class="container my-3">
  <a href="/"><i class="fa-solid fa-circle-left fa-xl mb-4"></i> </a>
  <div class="post-li py-4">
  {{> post-info post}}
  </div>

</div>
{{#if loggedIn}}
<form class="comment-form container mt-5">
  <div class="form-floating mb-1">
    <textarea class="form-control comment-body" placeholder="Reply to Post" id="comment-body" name="comment-body"></textarea>
    <label for="comment-body">Reply to Post</label>
  </div>

  <div class="d-flex justify-content-end mb-3">
    <button type="submit" class="btn btn-secondary">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

