<main class="row d-flex justify-content-center">
  <!--login-->
  <div class="" id="login-acct">
    <h2 class="d-flex justify-content-center p-5">Login</h2>

    <form class="login-form container col-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
        <label for="email-login">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
        <label for="floatingPassword" >Password</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary login-btn">Login</button>
      </div>
    </form>

  </div>
  <!--login end-->

  <!--create acct-->
  <div class="" id="create-acct">
    <h2 class="d-flex justify-content-center p-5">Create Account</h2>

    <form class="signup-form container col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username-signup" placeholder="Username">
        <label for="floatingPassword">Username</label>
      </div>        
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
        <label for="email-login">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password-signup" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div>
        <button type="submit" class="btn btn-primary create-btn">Create Account</button>
      </div>
    </form>
    
  </div>
  <!--create acct end-->
</main>

<script src="/javascript/login.js"></script>